@import "../../css/colors";
@import "../../css/breakpoints";

.RsoBlock__style {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px 32px 8px 16px;
	border-radius: 10px;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	background: $color-primary;
	color: $color-white;
	font-size: 32px;
	font-weight: 700;
	text-transform: lowercase;
	justify-self: right;
	min-width: 240px;
}

.RsoBlock__style:nth-child(even) {
	align-self: flex-start;
}
